<!DOCTYPE html>
<html ng-app='App'>
<head>
  <title>TestAssets</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>

<div ng-include="'templates/test.html'"> </div>
<div ng-include="'test.html'"> </div>

</body>
</html>
